body{
margin:80px;
}
body{
height: 90%;


background: url('../img/image_arbre.jpg') no-repeat center center fixed;
background-size: cover;
}

#tb{
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 2px;
  position: relative;
  z-index: 999999;
}


.blur {
  background: url('../img/image_arbre.jpg') no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
  filter: blur(4px);
  position: relative;
  height: 300px;
  z-index: 0;
}

.widget {
  border-top: 2px solid rgba(255, 255, 255, .8);
  border-bottom: 2px solid rgba(255, 255, 255, .8);
  height: 200px;
  width: 100%;
  overflow: hidden;
  top:0;
}

.center {
  position: absolute;
  margin: auto;
  top: -20px;
  left: 0;
  right: 0;
}







/*  NOT REQUIRED  */

.text {
  height: 200px;
  width: 340px;
}

.text h1 {
  text-align: center;
  text-shadow: 1px 1px rgba(100, 0, 0, .6);
  color: #FFFFFF;
  margin-top: 57px;
  font-family: 'Lora', serif;
  font-weight: 700;
  font-size: 38px;
}

.text p {
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 1px rgba(0, 0, 0, .1);
  margin-top: 0px;
  font-family: 'Lato', serif;
  font-weight: 400;
  font-size: 22px;
}
